<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "About HiFi Today";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="tube-image">
    <p>In interdum, ligula sit amet facilisis dapibus, mauris dui mattis arcu, vitae ultricies diam velit nec lorem. Nullam gravida sagittis ullamcorper. Nullam pharetra libero lorem, condimentum faucibus massa sollicitudin posuere. Suspendisse eu posuere orci. Cras tincidunt, sapien ac interdum vestibulum, augue turpis sodales lorem, sit amet pellentesque ligula dolor nec leo. Fusce dui lorem, auctor quis felis id, laoreet venenatis odio. Phasellus convallis porttitor purus at suscipit. Etiam sit amet ex sit amet nulla pulvinar dictum id fermentum mi. Nullam posuere semper imperdiet. Nulla lorem mauris, feugiat eleifend eros nec, facilisis condimentum ante.</p>
</div>