@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HiFi Today</h1>
    <p class="lead">Real world reviews for the tube HiFi enthusiast.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Reviews/">Reviews &raquo;</a></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel quam porta, viverra ipsum in, aliquet enim. Vestibulum id facilisis arcu. Praesent convallis, diam mollis iaculis viverra, ipsum orci bibendum nisl, et malesuada est leo nec libero. Mauris lacinia nisl venenatis, mattis purus in, consectetur mauris. Nunc non sodales sem. Cras tellus orci, placerat eu lectus sit amet, eleifend fringilla lacus. Donec ac lectus justo. Vestibulum nec leo porta purus rutrum ultrices sed ac nisl. Etiam ac scelerisque metus. Duis eget vulputate erat, nec tempus tortor.
        </p>
        
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Categories/">Categories &raquo;</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel quam porta, viverra ipsum in, aliquet enim. Vestibulum id facilisis arcu. Praesent convallis, diam mollis iaculis viverra, ipsum orci bibendum nisl, et malesuada est leo nec libero. Mauris lacinia nisl venenatis, mattis purus in, consectetur mauris. Nunc non sodales sem. Cras tellus orci, placerat eu lectus sit amet, eleifend fringilla lacus. Donec ac lectus justo. Vestibulum nec leo porta purus rutrum ultrices sed ac nisl. Etiam ac scelerisque metus. Duis eget vulputate erat, nec tempus tortor.</p>
        
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Reviews/Create/">Create Review &raquo;</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel quam porta, viverra ipsum in, aliquet enim. Vestibulum id facilisis arcu. Praesent convallis, diam mollis iaculis viverra, ipsum orci bibendum nisl, et malesuada est leo nec libero. Mauris lacinia nisl venenatis, mattis purus in, consectetur mauris. Nunc non sodales sem. Cras tellus orci, placerat eu lectus sit amet, eleifend fringilla lacus. Donec ac lectus justo. Vestibulum nec leo porta purus rutrum ultrices sed ac nisl. Etiam ac scelerisque metus. Duis eget vulputate erat, nec tempus tortor.</p>
        
    </div>
</div>